<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Analysiere Kniffel (in Echtzeit)</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-language" content="de" />
	<link href="styles/desktop.css" type="text/css" rel="stylesheet" />
	<script type="text/javascript" src="http://jquery.unpunk.de/1.8.3.js.gz"></script>
	<script type="text/javascript">
		Array.prototype.max = function () {
			var i, l, x,
			t = 0;
			for (i = 0, l = this.length; i < l ; i += 1) {
				x = this[i];
				if (!isNaN(x)) {
					if (x > t) {
						t = x;
					}
				}
			}
			return t;
		};
	</script>
	<style type="text/css">
	body {
		font-size: 10pt;
		font-family: Ubuntu condensed, Arial Narrow, Arial,sans-serif; 
		background: url("../../media/background.png") repeat scroll 0 0;
		/*background: #C8E7C2;*/
	}
	
	div {
		background: #faebd7;
		border: solid 2px #000;
		border-radius: 20px;
		-moz-border-radius: 20px;
	}
	
	div.popup {
		padding: 10px 20px;
	}
		
	</style>
</head>
<body>
<h1>Ausführliche Analyse (in Echtzeit)</h1>
<ul id="results">
</ul>
<script type="text/javascript" src="analyse.js"></script>
</body>
</html>
