<div id="game2">
	<h2 class="name2">%replay_name%</h2>
	<div class="date">%replay_date%</div>
	<ul id="sheet2">
		<li class="entry" id="sentry_1">&nbsp;&nbsp;</li>
		<li class="entry" id="sentry_2">&nbsp;&nbsp;</li>
		<li class="entry" id="sentry_3">&nbsp;&nbsp;</li>
		<li class="entry" id="sentry_4">&nbsp;&nbsp;</li>
		<li class="entry" id="sentry_5">&nbsp;&nbsp;</li>
		<li class="entry" id="sentry_6">&nbsp;&nbsp;</li>
		<li class="sum" id="ssum_up">&nbsp;&nbsp;</li>
		<li class="sum" id="sbonus">&nbsp;&nbsp;</li>
		<li class="entry" id="sentry_dp">&nbsp;&nbsp;</li>
		<li class="entry" id="sentry_vp">&nbsp;&nbsp;</li>
		<li class="entry" id="sentry_fh">&nbsp;&nbsp;</li>
		<li class="entry" id="sentry_ks">&nbsp;&nbsp;</li>
		<li class="entry" id="sentry_gs">&nbsp;&nbsp;</li>
		<li class="entry" id="sentry_kn">&nbsp;&nbsp;</li>
		<li class="entry" id="sentry_ch">&nbsp;&nbsp;</li>
		<li class="sum" id="ssum_down">&nbsp;&nbsp;</li>
		<li class="sum" id="ssum_all">&nbsp;&nbsp;</li>
	</ul>
</div>';
