#etc {
	background: #faebd7;
	border: solid #000 2px;
	border-radius: 20px;
	height: 560px;
	left: 550px;
	padding: 10px;
	position: absolute;
	top: 50px;
	width: 280px;
}

#etc h2 {
	border-bottom: 2px #000 solid;
	margin-top: 20px;
	padding: 0 0 3px 3px;
	width: 100%;
}

.etc_link {
	color: #bc9f75;
	display: block;
	font-size: 2em;
	left: 20px;
	position: absolute;
}

#etc_link_kniffel, #etc_link_highscore {
	bottom: 60px;
}

#etc_link_unpunk {
	bottom: 30px;
}