* {
	list-style-type: none;
	margin: 0;
	padding: 0;
	}

body {
	background: url("/kniffel/media/background.png") repeat scroll 0 0;
	font-family: Ubuntu condensed, Arial Narrow, Arial,sans-serif; 
	font-size: 10pt;
	}

h1 {
	border-bottom: 2px #000 solid;
	border-left: 2px #000 solid;
	font-size: 220%;
	margin: 5px;
	padding-left: 10px;
	}

a {
	color: #000;
	text-decoration: underline;
	}

noscript,
#warnie {
	background: #121212;
	height: 100%;
	left: 0;
	opacity: .8;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 500;
	}

noscript div,
#warnie div {
	background: #fff;
	border: #000 10px solid;
	font-size: 1.5em;
	font-weight: bold;
	left: 50px;
	opacity: 1;
	padding: 30px;
	position: absolute;
	top: 50px;
	width: 400px;
	z-index: 1000;
	}

#loader {
	display: none;
	}

#warnie #close {
	cursor: pointer;
	font-size: .6em;
	position: absolute;
	right: 10px;
	text-decoration: underline;
	top: 0;
	}

#loadtime {
	bottom: 0;
	left: 0;
	position: absolute;
	}
