#details ul li {
	margin-top: 10px;
	}

#details ul li:first-child {
	text-align: center;
	}

#navigation .switcher {
	background-color: #E9DAC6;
	border: 1px solid #BC9F75;
	border-radius: 10px;
	font-size: 14pt;
	height: 30px;
	margin-bottom: 5px;
	overflow: hidden;
	position: relative;
	top: -25px;
	}

#navigation .switcher a {
	padding: 5px;
	text-decoration: none;
	}

#navigation .switcher a:hover {
	background-color: #BC9F75;
	}

#navigation .switcher#month-switch span {
	display: inline-block;
	height: 100%;
	text-align: center;
	}

#navigation .switcher#month-switch .before {
	width: 23%;
	}

#navigation .switcher#month-switch .current {
	width: 48%;
}

#navigation .switcher#month-switch .after {
	width: 23%;
}

#navigation .switcher#month-switch span a {
	display: inline-block;
	height: 100%;
	width: 100%;
	}

#navigation .switcher#best-switch span {
	display: inline-block;
	font-size: 10pt;
	height: 100%;
	text-align: center;
	width: 48%;
}

#navigation .switcher#best-switch .best-current a {
	background-color: #CDB086;
	}

#navigation .switcher#best-switch #best-off {
	border-left: 1px solid #BC9F75;
	}


#navigation .switcher#best-switch span a {
	display: inline-block;
	height: 100%;
	width: 100%;
}




